/* LAYOUT */
.glass::before {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glass {
    position: relative;
}

.glass::before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
}


.glass::before {
    background-image: url('../img/thecalling.jpg');
    /* Prefix free isn't picking up this one */
    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
    opacity: 0.4;
}

.glass {
    background-color: white;
}

.glass, .glass::before {
    transition: transform 0.5s ease-out;
}

@media (max-width: 500px), (max-height: 300px) {
    p.unimportant {
        display: none;
    }
    p {
        font-size: 1.4rem;
        margin: 0.5em auto;
    }
}
